useDynLib(GrammR)
import(gWidgets)
import(RGtk2)
import(gWidgetsRGtk2)
import(MASS)
import(cluster)
import(rgl)
import(GUniFrac)
import(ape)
importFrom("grDevices", "dev.off", "jpeg", "pdf", "rainbow")
importFrom("graphics", "plot")
importFrom("stats", "cmdscale")
importFrom("utils", "browseURL", "read.table", "write.table")
exportPattern("^[[:alpha:]]+")
